doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/bower_components/codemirror/addon/lint/lint.css')
    link(rel='stylesheet', href='/bower_components/codemirror/theme/monokai.css')
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/codemirror/lib/codemirror.js")
    script(src='/bower_components/codemirror/addon/edit/closebrackets.js')
    script(src='/bower_components/codemirror/addon/edit/matchbrackets.js')
    script(src='/bower_components/codemirror/addon/lint/lint.js')
    script(src="/bower_components/react/react.js")
    script(src="/bower_components/react/react-dom.js")
  body
    block content
    script(src="/js/EditorComponent.js")