body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gainsboro;
  margin: 0;
}

a {
  color: #00B7FF;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.challengeList {
  list-style: none;
  width: auto;
  margin: auto;
}

.challenge {
  width: 99%;
  margin: 2vh auto;
  padding: 2vh;
  box-shadow: 0 0 3vh #ccc;
  transition: color 0.1s, background-color 0.1s;
  background-color: white;
  color: #00B7FF;
  border-radius: 0.75vh;
}

.challenge:hover {
  color: white;
  background-color: #00B7FF;
}

.challenge:active {
   color: white;
   background-color: #74c2ff;
 }

.menu {
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu > a {
  display: block;
  flex: 1 0 auto;
  border-bottom: 0.5vh solid #00B7FF;
  background-color: white;
  color: rgb(51, 51, 51);
  padding: 4vh;
  margin: 2vh;
  border-radius: 0.75vh;
  transition: color 0.3s, background-color 0.3s, border-bottom 0.3s;
  text-align: center;
  box-shadow: 0 0 3vh #ccc;
}

.menu > a:hover {
  border-bottom: 0.5vh solid #00B7FF;
  background-color: rgb(51, 51, 51);
  color: white;
}

.menu > a:active {
  color: white;
  background-color: #656565;
}

.inputList{
  list-style: none;
}

.input > .CodeMirror{
  margin: 3vh;
}